.dashboard{
    padding-left: 20px ;
    padding-right: 32px;
    padding-block: 32px;
    width: 100%;
    flex-grow: 1;
    background-color: #fafafa;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    gap: 32px;
   overflow-y: scroll;
}
.heading{
    display: flex;
    justify-content: space-between;
}

.heading p {
   font-size: 20px;
   font-weight: medium;
   color : rgba(26, 24, 30, 1)
}


/* THIS MONTH */
.heading div{
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px;
    width: 137px;
    height: 36px;
    font-size: 16px;
    border-radius:4px;
    border: #d9d9d9 1px solid;
    background-color: white;
    color: #4c4c4c;
}



.overview{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:20px;
}

.online-order , .amount-received{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

    min-width: 49.3%;
    height: 118px;
    border-radius: 8px;
    padding-left: 20px;
    background-color: white;
    box-shadow: 0 2px 6px 
    rgba(26, 24, 30, 0.04)
    ;
}

.online-order p, .amount-received p {
    font-size: 16px ;
    color: rgba(77, 77, 77, 1);
    font-weight: 400;
    line-height: 24px;
}

.overview .amount{
    font-size: 32px;
    font-weight: 500;
    color : black;
    line-height: 38px;
} 


.transactions {
    display: flex;
    flex-direction: column;
    width: 100% ;
}

.transactions .heading{
    font-size: 20px;
    font-weight: medium;
    margin-bottom: 20px;
    color : rgba(26, 24, 30, 1)
}

.view {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height:fit-content ;
    padding: 12px 12px 24px 12px;
   border-radius: 8px;
   box-shadow: 0 2px 6px 
   rgba(26, 24, 30, 0.04)   ;
}

.searchbyid{
    width: 248px;
    border-radius: 6px;
    margin-bottom:12PX ;
    background-color:white;
    border: none;
    color: #999999;
    height: 40px;
    background-image: url('../../assets/search.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 32px;
    border: rgba(217, 217, 217, 1)
    1px solid;
}

.sorting{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}


.sorting  div{
 display: flex;
 flex-direction: row;
 gap: 8px;
   
}


.sort{
    
    width: 79px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px;
    height: 36px;
    font-size: 16px;
    border-radius:4px;
    border: #d9d9d9 1px solid;
    background-color: white;
    color: #4c4c4c;
}

.download{
    width: 36px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px;
    height: 36px;
    font-size: 16px;
    border-radius:4px;
    border: #d9d9d9 1px solid;
    background-color: white;
    color: #4c4c4c;
}


.label {
    padding: 10px 12px 10px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    color:rgba(77, 77, 77, 1)    
    ;
    border-radius: 4px;
}


.label .transactionfee {
    display: flex;
    align-items: center;
    justify-content: end;
    gap:4px;
}


.orderdate img{
    width: 8px;
    height: 8px;
}

.transactionfee img{
    width: 14px;
    height: 14px;
}


.label div {
    height: 20px;
    width: 100%;
}

.item{
    padding: 14px 12px  14px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    gap: 40px;
    color: rgba(26, 24, 30, 1);
    font-weight: 400;
    line-height: 20px;
    border-bottom: #E5E5E5 1px solid;
}


.item div{
    width: 100%;
}

.item:last-child{
    margin-bottom:24px ;
}

.orderid {
    font-weight: 500;
    color: rgba(20, 110, 180, 1);

}

.transactionfee, .orderamount{
    text-align: right;
}



.pagination{
    display: flex;
    height: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    justify-self:flex-end;
    gap:24px;
    justify-content: center;
   
}

.prev{
    width: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px;
    height: 32px;
    font-size: 16px;
    border-radius:4px;
    border: #d9d9d9 1px solid;
    background-color: white;
    color: #4c4c4c;
    font-weight: 500;
}

.prev img{
    transform: rotate(90deg);
}

.next{
    width: 74px;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 8px;
    height: 32px;
    font-size: 16px;
    border-radius:4px;
    border: #d9d9d9 1px solid;
    background-color: white;
    color: #4c4c4c;
    font-weight: 500;

}



.next img{
    transform: rotate(-90deg);
}

.page-number{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size:14px;
    font-weight: 400px;
}

.page-number div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    color : #4D4D4D;
    

}

.page-number .active{
    background-color:  #146EB4;
    color: white;
    border-radius: 4px;
}